* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #fff;
    color: #111;
    overflow-x: hidden;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  