.new-arrivals {
  padding: 60px 60px;
  text-align: center;
  background-color: #def7e4;
}

.new-arrivals h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.new-arrivals p {
  color: #666;
  font-size: 14px;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  justify-content: center;
}

.product-card {
  background: white;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.product-card h4 {
  margin: 10px 0 5px;
  font-size: 16px;
}

.product-card span {
  color: #444;
  font-weight: 500;
  display: block;
}

/* Buy Now button */
.buy-btn {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 18px;
  background-color: #2f4a35;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buy-btn:hover {
  background-color: #748d78;
  transform: scale(1.05);
}
